{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": "error",
    "semi-spacing": "error",
    "comma-spacing": "error",
    "comma-style": [
      "error",
      "last"
    ],
    "newline-before-return": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "arrow-spacing": "error",
    "object-curly-newline": "error",
    "object-property-newline": "error",
    "no-await-in-loop": "error",
    "no-console": "error",
    "no-extra-semi": "error",
    "array-callback-return": "error",
    "consistent-return": "error",
    "curly": [
      "error",
      "multi-line"
    ],
    "default-case": "error",
    "eqeqeq": "error",
    "no-trailing-spaces": [
      "error",
      {
        "ignoreComments": true
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "space-before-blocks": "error",
    "quotes": [
      "error",
      "single"
    ],
    "prefer-template": "error",
    "no-undef": "error",
    "no-duplicate-imports": "error",
    "no-restricted-imports": "error",
    "no-redeclare": "error",
    "no-sync": "error",
    "no-unused-vars": "error",
    "no-multi-spaces": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "always",
        "asyncArrow": "always"
      }
    ],
    "space-infix-ops": "error"
  }
}